ra<p id="notice"><%= notice %></p>

<h1>Twats</h1>



<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='name'>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>




<%= link_to 'New Twat', new_twat_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Foto</th>
      <th>Likes</th>
      <th>Retweets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twats_from_friends.each do |twat| %>
      <tr>
        <td>
                  <% palabras = twat.name.split(" ")
                  hashtag_links = []
                  palabras.each do |palabra|
                    if palabra.start_with?("#")%>
                      <%hashtag_links.append('<a href="#">'+palabra+'</a>')%>
                      <a href="twats?name=<%=palabra.slice(1..-1)%>">
                        <%=palabra%>
                      </a>
                    <% else %>
                      <%hashtag_links.append(palabra)%>
                      <%=palabra%>
                    <% end
                  end %>
                  <%texto_twat = hashtag_links.join(" ")%>
                  <%texto_twat%>

         </td>


        <td><%= twat.user %></td>
        <td><%= twat.user.photo %></td>
        <td><%= @likes.where(twat_id:twat.id).count %></td>
        <td></td>
        <td><%= link_to 'Show', twat %></td>
        <td><%= link_to 'Edit', edit_twat_path(twat) %></td>
        <td><%= link_to 'Destroy', twat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="row">
    <div class="col">
      <%= paginate @twats_from_friends %>
    </div>
  </div>
<br>
