<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twat.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @twat.user %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @twat.created_at %>
</p>

<% if user_signed_in? %>
  <% if @twat.liked?(current_user) %>
    <%= button_to "Like", like_path(@twat), method: "put", disabled: true %>
    Liked by:
    <% Like.all.each do |like| %>
        <% if like.twat_id == @twat.id %>
          <%= like.user_id %>
        <% end %>
    <% end %>
  <% else %>
    <%= button_to "Like", like_path(@twat), method: "put" %>
  <% end %>
<% end %>


<br>
<%= link_to 'Edit', edit_twat_path(@twat) %> |
<%= link_to 'Back', twats_path %>
