<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twat.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @twat.user %>
</p>

<%= link_to 'Edit', edit_twat_path(@twat) %> |
<%= link_to 'Back', twats_path %>
