<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoTwatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p><br>
    <p class="alert"><%= alert %></p><br>

    <% if current_user%>
      <%= link_to "Log out", destroy_user_session_path, method: :delete%>
      <%= link_to "Ir a pagina de inicio", twats_path%>
    <% else%>
      <%= link_to "Sign up", new_user_registration_path%>
      <%= link_to "Log in", new_user_session_path%>
    <% end%>
    <%= yield %>
  </body>
</html>
